<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAX Playground</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    </style>
  </head>
  <body>
    <header class="navbar navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse"
	      data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Rax</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse"
	 role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#how-to-1">Live Demo</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

    <div class="container">
      <div class="row">
	<div class="sidebar col-md-3">
	  <ul class="nav nav-pills nav-stacked" data-spy="affix">
	    <li><a href="#getting-started">Getting started</a></li>
	    <li><a href="#how-to-1">How-to #1</a></li>
	  </ul>
	</div>
	<div class="terminal-wrapper col-md-9">
	  <div id="terminal" data-spy="affix"></div>
	</div>
      </div>
    </div>
    <div class="container"> 
      <div class="row">
	<div class="col-md-9 col-md-offset-3" id="documentation">
	  <% include gettingStarted.html %>
	  <% include howTo#1.html %>
	</div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="term.js"></script>    
    <script src="javascripts/connectTerminal.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap: Latest compiled and minified JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script>
      $(function() {
        $('#documentation [href=#]').click(function (e) {
          console.log("Prevent default");
          e.preventDefault();
        });      
      });
    </script>

  </body>
</html>
