<section>
  <h2 id="getting-started">Getting Started</h2>
  <hr>
  <p>
Rax (Relational Algebra with eXtensions) is a programming language for behavioral-data exploration. The language is
a mix of relational, regular, and temporal algebra and is designed to
facilitate the transition from ETL to data modeling. Rax empowers data
analysts to explore behavioral data in a way that feels intuitive and
familiar.
  </p>
  <p>
As data is turning into Big Data, it is getting harder to connect the data-ETL
step and the data-analysis step without an intermediate data-exploration
step. Oôen, a data analyst has to go through the data, reshuffling, massaging,
sampling, and trying different ideas, before linear regression or any other
hardcore data analysis can be aôempted. Especially when it comes to behavioral
data, data analysts have two alternatives: they can either work in close
concert with a database specialist, or they can become one. Rax offers a third
alternative: it empowers data analysts to explore behavioral data in a way
that feels intuitive and familiar to them.
  </p>
</section>
